<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <title>获取新的评论信息</title>
</head>
<body>
    <div class="container">
            <div class="page-header">
                    <h1>获取影评数据</h1>
            </div>
        <div class="form">
                <div class="form-group">
                        <label for="exampleInputEmail1">电影名</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="电影名">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">爬取页数</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="页数">
                </div>
                <div class="num">（页数最多24页）</div>
        </div>
                  
    </div>
    
</body>
</html>
