<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <title>可视化技术期末作品</title>
</head>
<body>
<div class="container text-center">
        <div class="page-header">
                <h1>豆瓣影评可视化<small>Data visualization final project</small></h1>
              </div>
        <form action="../../index2/" method="post" class="mainform">
            <div class="movieinput">
                <h3 class="text-center">请输入电影名：</h3>
               <span class="glyphicon glyphicon-leaf"></span> <input name="movie" type="text" class = "moviename form-control" id="formGroupInputLarge" placeholder="moviename">
            </div>
            <div>
                <button type="submit" class = "sendmovie btn btn-primary btn-lg">查看可视化分析</button>
            </div>
        </form>
</div>
    
</body>

<style>
*{
    margin: 0;
    padding: 0;
}
.mainform{
    padding: 50px;
    margin: 50px;

}
.movieinput{
    margin: 50px;
    padding: 10px;
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
</style>

</html>
