<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <title>后台数据缺失</title>
</head>
<body>
    <div class="container">
         <div class="info jumbotron"><h2>你请求的电影数据在后台还找不到，是否尝试</h2>
         <p><a class="btn btn-primary btn-lg" href="../../../index2/getcomment/" role="button" style="margin-top:20px">从网络获取</a></p>
        </div>
    </div>
    
</body>
</html>
