{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>情感广场</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <!-- <link rel="stylesheet" href="../../static/assets/css/noscript.css" /> -->
        <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css">
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://www.layuicdn.com/layui/layui.js"></script>
	</head>
<body class="is-preload">
    <div class="container">
            <div class="page-header">
                    <h1>所有情感分类<small>情感分类由后台对句子自动完成哦~</small></h1>
            </div>
    </div>
</body>

<style>
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
</style>
</html>
