<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发表句子</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>句子主题：</p> 
        <input type="text" name="title" id="">
        <p>句子内容：</p>
        <textarea name="sencontent" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="发表">
    </form>
</body>
</html>
