{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Hi~注册</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static '/login/css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static '/login/css/fontawesome-all.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="http://maxcdn.bootstrapcdn.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<!-- bg effect -->
	<div id="bg">
		<canvas></canvas>
		<canvas></canvas>
		<canvas></canvas>
	</div>
	<!-- //bg effect -->
	<!-- title -->
	<h1>恭喜你决定加入我们(^_−)☆</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form action="../register_result/" method="post">
			<h2>Register Now
				<i class="fas fa-level-down-alt"></i>
			</h2>
			<div class="form-style-agile">
				<label>
					<i class="fas fa-user"></i>
					Username
				</label>
				<input placeholder="Username" name="username" type="text" required="">
			</div>
			<div class="form-style-agile">
				<label>
					<i class="fas fa-unlock-alt"></i>
					Password
				</label>
				<input placeholder="Password" name="pwd" type="password" required="">
			</div>
            <input type="submit" value="注册">
		</form>
	</div>
	<!-- //content -->

	<!-- copyright -->
	<div class="footer">
		<p>欢迎注册句子网，你的信息注册后请妥善保管哦!注册登录后前往个人中心完善自己的资料</p>
        <p>已经有账号?前往 <a href="./login">登录</a></p>
	</div>
	<!-- //copyright -->

	<!-- Jquery -->
	<script src="{% static '/login/js/jquery-3.3.1.min.js' %}"></script>
	<!-- //Jquery -->

	<!-- effect js -->
	<script src="{% static '/login/js/canva_moving_effect.js' %}"></script>
	<!-- //effect js -->

</body>

</html>
