{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>情感分类</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="../../static/assets/css/noscript.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<!-- <div class="logo">
							<span class="icon fa-gem"></span>
                        </div> -->
                        <div class="content">
                                <div class="inner">
                              <h2>句子墙-情感分类专区</h2>
                                </div>
                            </div>
						<nav>
							<ul>
								<li><a href="./sentype/">句子情感分类</a></li>
								<li><a href="./textemotion/">文段情感分析</a></li>
							</ul>
						</nav>
					</header>
	</body>
</html>
